<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bookingcab">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookingAmbulance">
        <activity
            android:name="com.example.bookingcab.FillVisitorForm"
            android:exported="false" />
        <activity
            android:name="com.example.bookingcab.CommonFrontPage"
            android:exported="false" />
        <activity
            android:name="com.example.bookingcab.RequestApproveOrNot"
            android:exported="false" />
        <activity
            android:name="com.example.bookingcab.CheckRequest"
            android:exported="false" />
        <activity
            android:name="com.example.bookingcab.ApprovCustomerRequest"
            android:exported="false" />
        <activity
            android:name="com.example.bookingcab.checkCabReguestByOwner"
            android:exported="false" />
        <activity
            android:name="com.example.bookingcab.BookCab"
            android:exported="false" />
        <activity
            android:name="com.example.bookingcab.OwnerLogin"
            android:exported="false" />
        <activity
            android:name="com.example.bookingcab.CustomerSignup"
            android:exported="false" />
        <activity
            android:name="com.example.bookingcab.CustomerLogin"
            android:exported="false" />
        <activity
            android:name="com.example.bookingcab.TempActivity"
            android:exported="false" />
        <activity
            android:name="com.example.bookingcab.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>